.header{
    background-color:   #FD2D01;
    border-bottom: 0.5rem solid #4E5166;
    width: 100%;
}
.header__container{
    height:5rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
    max-width: 1440px;
    margin: auto;
}
.img{
    width:15rem;
}
.nav__ul__li{
    color:white;
    list-style: none;
    padding: 1rem;
    text-decoration: none;
}