.header{
    background-color:   #FD2D01;
    box-shadow: 0px 4px 10px 6px rgba(78,81,102,0.7);
    width: 100%;
    position:absolute;
    top:0;
}
.header__container{
    height:5rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
    max-width: 1440px;
    margin: auto;
}
.img{
    width:15rem;
}
.nav__ul__li{
    color:white;
    list-style: none;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}
.logout{
    font-size:3.1rem;
    color:#4E5166;
    cursor:pointer;
    margin:0 2rem;
}