.newPost__container{
    width: 100%;
}
.newPost{
    width: 75%;
    box-shadow: 0px 0px 10px 2px #4E5166;
    border-radius: 1rem;
    margin:2rem auto;
}
.newPost__form{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}
.newPost__textArea{
    width: 100%;
    min-height: 75px;
    resize: none;
}
/* icon envoi */
.newPost__send{
    font-size: 2.5rem;
    color:#4E5166;
    cursor: pointer;
}
.newPost__send:hover{
    font-size: 2.8rem;
}

.commentaire__form{
    display: flex;
    justify-content:space-around;
}
.newCommentaire__textarea{
    width: 75%;
    min-height: 40px;
    resize: none;
}