.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fd2d01 ;
    border-top: 0.5rem solid #4E5166;
    height:5rem; 
}
.footer__container{
    color: white;
    max-width: 1440px;
    margin: auto;
}